html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-size: 14px;
  font-family: sans-serif;
  background: #2c3e50;
  min-width: 1200px;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.btn-reset {
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

/* css workspace */

.container {
  width: 1170px;
  margin: 0 auto;
}

.logo {
  height: 200px;
}

.logo-lk {
  gap: 24px;
  align-items: center;
  margin-bottom: 40px;
}
.nav-list {
  gap: 30px;
  justify-content: space-between;
  margin: 27px auto 0;

  position: relative;
  width: 920px;
  min-height: 50px;
  background-color: #34495e;
  border-radius: 8px;
  font-size: 0;
  align-items: center;
}

.nav-item {
  line-height: 25px;
  height: 100%;
  font-size: 14px;
  display: inline-block;
  position: relative;
  z-index: 1;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: white;
  cursor: pointer;
}

.animation {
  position: absolute;
  height: 100%;
  top: 0;
  z-index: 0;
  transition: all 0.5s ease 0s;
  border-radius: 8px;
}

.nav-item:nth-child(1n + 1) {
  width: 184px;
}

.nav-item:nth-child(1):hover ~ .animation {
  width: 184px;
  left: 0;
  background-color: #1abc9c;
}

.nav-item:nth-child(2):hover ~ .animation {
  width: 184px;
  left: 184px;
  background-color: #1abc9c;
}

.nav-item:nth-child(3):hover ~ .animation {
  width: 184px;
  left: 368px;
  background-color: #1abc9c;
}

.nav-item:nth-child(4):hover ~ .animation {
  width: 184px;
  left: 552px;
  background-color: #1abc9c;
}

.nav-item:nth-child(5):hover ~ .animation {
  width: 184px;
  left: 736px;
  background-color: #1abc9c;
}

.header {
  margin-bottom: 40px;
}

.main__container {
  height: 160px;
  font-size: 20px;
  padding: 20px 20px 20px 20px;
  background-color: aliceblue;
}
